p {
color: blue;
font-size: 20px;
font-family: monospace;
}

li {
font-family:monospace;
font-size: 25px;
}

#glavni-naslov {
color: gray;
font-size: 35px;
}

.istaknuto {
font-weight: bold;
text-decoration: underline;
}

.veliki-tekst {
font-size: 35px;
}

